
.sortBySelect {
  text-align: left;
  padding-bottom: 0;
  padding-top: 0;
}


.productCard img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 350px;
    max-width: 100%;
  }

  .productCard img:hover{
    transform: scale(0.9);
  }

  .prodContainer {
    padding: 0 150px 20px;
  }