
nav {
    height: 60px;
    background-color: #3f51b5 !important;
}

nav * {
    color: white;
}

nav a {
    padding: 20px;
}

nav .logo * {
    float: left;
}

nav .logo svg {
    margin-right: 10px;
}

nav .navLink{
    float: right;
}

nav .logo, nav .navLink {
    padding-top: 3px;
}

.active{
    background-color: #26328d;
}

.logout {
    margin-left : 20px !important;
}