.MuiTextField-root {
  margin: 10px 0 5px !important;
}

.main-Box {
  display:flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  align-items: center;
  padding: 10px
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #4350af !important;
}

.MuiInputBase-input {
  padding: 10px !important;
}

.MuiFormLabel-root.MuiInputLabel-root {
  top: -5px
}

.css-makoee-MuiInputAdornment-root svg{
  top: 10px;
  position: absolute;
  right: 15px;
}

.passwordIcon {
  cursor: pointer;
}

.searchbar {
  width: 30%;
  background-color: #6773cb;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  z-index: 9999;
  left: 35%;
}

.searchbar svg {
  padding: 10px;
  color: white;
  float: left;
}

.searchbar input[type=text] {
  padding: 11px;
  font-size: 17px;
  border: none;
  background: transparent;
  width: calc(100% - 100px);
  color: white !important;
  border-radius: 0 5px 5px 0;
}

.searchbar input[type=text]:focus {
  outline: none;
}

.searchbar input[type=text]::placeholder {
  color: white;
  opacity: 0.5;
}

.padding-50{
  padding: 50px
}